* {box-sizing: border-box;}

html{
  -webkit-text-size-adjust: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(235, 206, 170);
  background-image: linear-gradient(#1f1249, rgb(27, 75, 98));
  /*background-color:rgb(31, 18, 73);
  rgb(2, 71, 92);*/
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: teal;
  margin: 0;
  display:block; 
  background: url(../Images/starry_cloud_bk.png) no-repeat 100%;
  background-position: bottom;
  background-size: 100%; 
  background-color:rgb(31, 18, 73);
}

/*row
.row{
  background-image: linear-gradient(#1f1249, rgb(27, 75, 98));
}
*/
.row:after{
	content: "";
	display: table;
	clear: both;

}

h1{
  text-align: center;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
	line-height: 20px;
	text-align: center;
}


div {
  display: block;
}

/*.container{
	padding: 5px;
	margin: 0px;
	border-top: double 2px white;
}
*/
/*==================== Banner ====================*/

#bannerBorder{
  background-color: rgb(2, 44, 44);
  width: 100%;
  height: 10px;
}

.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
	height: 800px;
  width: 80%;
	overflow: hidden;
	padding-top: 50px;
	margin-left: auto;
  margin-right: auto;

  background-color: transparent;
  /*background-color:rgba(230, 220, 198, 0.26);*/
  margin: auto;

  color: rgb(226, 156, 65);
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  
  /*box-sizing: border-box;
  border: 5px double rgb(236, 226, 226); 
  border-radius: 8px;
  */

  padding: 50px 70px calc(54px) 70px;
  z-index: 2;
}

@media only screen and (max-width: 992px){
  .logo{
    font-size: 20px;
  }
}

.bannerHere{
  background: url(../Images/space_banner.jpg) no-repeat 100%;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-sizeL: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	width: 100%;
	height: 900px;
}

@media only screen and (max-width: 992px){
  .bannerHere{
    height:500px;
  }
}
/*==================== NavBar ====================*/

.bkDarkBlue{
  background-color: rgb(0, 27, 39);
  color: white;
  font-size: 20px;
  display: fixed;
}

.nameLeft{
  font-size: 35px;
}

.toggle_dropdown{
  background-color: teal;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.toggle_icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

nav ul{
  margin: auto;
  text-align: center;
  padding: 10px;
}

ul.navbar-nav{
  font-size: 30px;
}

li a:hover {
  color: rgb(216, 147, 133);/*font color when hover over navbar */
  font-weight: bold; /* bold when hovered over */
}

.contactRight a{
  font-size: 35px;
}

.contactRight:hover {
  color: rgb(216, 147, 133);/*font color when hover over navbar */
  font-weight: bold; /* bold when hovered over */
  cursor: pointer;
}

/* affect the about and gallery links
@media (max-width: 640px){
  nav ul{
    padding: 10;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px){
  .contactRight{
    transform: translateX(20px);
  }
}
*/

ul.navbar-nav{
  transform: translateX(-40px);
}

@media (max-width: 992px){
  ul.navbar-nav{
    transform: translateX(25px);
  }
}

/*for Nav bar scrolling stays at top*/
.sticky{
  position:fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  opacity:0.7;
}
/*==================== Pop-up Contact Form ====================*/

/*========== Contact button for Pop-up ==========*/

.open-contact{
  display: block;
  right: 5%;
  padding: 10px 10px;
  margin-left: 5%; /* Changed to Margin */
  font-size: 18px;
  text-align: center;
  color: rgb(253, 253, 254);/*colour white*/
  cursor: pointer;
}
  
/*========== The Close Button ==========*/

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 992px){
  .close{
    top: 0px;
    right: 0px;
    font-size: 20px;    
  }
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/*========== Main Contact Form ==========*/

/*hidden by default*/

.contact-popup {
  display: none;
  position: fixed;
  border-radius: 10px; /*rouded edges for softer look*/
  width: 60%;
  height: auto;
  top: 25%; /* down from the top of the viewport */
  left: 20%; /* in from the left side of the viewport */
  z-index: 9;
  background-color: rgb(60, 18, 102);
  color: #bbe1f3;
}

.contact-popup h1{
  font-size: 26px;
  padding: 1vw;
}

@media only screen and (max-width: 992px){
  .contact-popup{
    width: 80%;
    height: 550px;
    top: 15%;
    left: 10%;
  }
}

/*@media only screen and (max-width: 992px){
  .contact-popup h1{
    font-size: 24px;
  }
}*

/*========== Left contact details etc 992==========*/

.popup_column_1 {
  float: left; 
  width: 50%; /* This ensures column up half the width */
  height: auto;
  padding: .30vw; 
  margin: auto;
}

@media only screen and (max-width: 992px){
  .popup_column_1{
    width: 100%;
    height: 100%;
    padding: 2px;
    padding-top:12px;
  }
} 

.contact-container {
  width: 100%; 
  height: auto;
  margin: auto;
  background-color: rgba(76, 47, 105);
  border-radius: 10px; /*rouded edges for softer look*/
}

@media only screen and (max-width: 992px){
  .contact-container{
    width: 90%;
    height: 500px;
    margin-top: 2%;   
    font-size: 14px;
  }
} 

/* Full-width input fields */
.contact-container input[type=text]{
  width: 98%; /* input boxes will completely fill the width of form-container */
  padding: .60vw; /* padding to the input boxes */
  margin: .4vw .2vw .4vw .2vw; /* space between the input boxes and the labels */
  border: none; /* no border for input boxes */
  border-radius: 10px; /*rouded edges for softer look*/
  background: rgb(219, 216, 212); /* background color of the input boxes */
  font-size: 14px; /* Relative font sizing based on the width of the viewport */
}

@media only screen and (max-width: 992px){
  .contact-container input[type=text]{
    width: 90%;
    font-size: 14px;
    padding: 5px; /* Adds padding to the input boxes */
    margin: 10px 20px;
  }
} 

/* When clicked in, focus, change background colour in box */
.contact-container input[type=text]:focus{
  background-color: rgb(219, 203, 221);
  outline: none;
}

/* Full-width textarea makes textarea for message larger */
.contact-container textarea {
  width: 98%; 
  padding: .60vw; 
  margin: .4vw .2vw .4vw .2vw; 
  border: none;
  border-radius: 10px; 
  background: rgb(220, 220, 220); 
  min-height: 7vw;
  font-size: 14px;
}

/* When the textarea gets clicked in, focus, change background colour in box  */
.contact-container textarea:focus {
  background-color: rgb(219, 203, 221);
  outline: none;
}

@media only screen and (max-width: 992px){
  .contact-container textarea{
    width: 90%;
    font-size: 14px;
    padding: 5px; /* Adds padding to the input boxes */
    margin: 10px 20px;
    min-height: 8vw;
  }
} 

/*button submit style */
.contact-container .btn {
  color: #bbe1f3;
  font-size: .80vw; /* Relative sizing of text */
  letter-spacing: .3vw; /* Adds slight spacing between the letters */
  width: 100%;
  height: auto; /* Allows the height to be resized depending on the content showing */
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;

  padding: 10px;
}

@media only screen and (max-width: 992px){
  .contact-container .btn{
    width: 90%;
    height: auto;
    font-size: 16px;
    margin: 10px;
  }
} 

/* hover effects for buttons */
.contact-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/*========== Contact Form Image ==========*/
  
  
.popup_column_2 {
  float: right;
  width: 50%; /* This ensures column up half the width */
  height: 100%;
  padding: .30vw;
}

.border-container{
  width: 100%; 
  border-radius: 10px; /*rouded edges for softer look*/
  background-image: linear-gradient(#2e647c, rgb(138, 50, 126));
}

.Deen img{
  width: 15vw;
  height: 100%;
  /*margin: 22%;*/
  margin: 140px;
  border-radius: 50%;
  margin-left: 7vw;
}

@media only screen and (max-width: 992px){
  .popup_column_2{
    display: none;
  }
} 
/*==================== ====================*/

a{
  text-decoration: none; /*remove underline*/
}

a:link{
  cursor: pointer;
  color: #f1f1f1;

}
a:visited {
  color: white;
}

/*==================== Back to Top ====================*/

.backtotop{
  display: block;
  width: 20%;
  color: #920e80;
  font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
  margin: 20px;
}

.backtotop img{
  cursor: pointer;
  width: 80px;
  height: 160px;
}

@media only screen and (max-width: 992px){
  .backtotop img{
    width: 50px;
    height: 120px;
  }
} 
/*==================== Footer and Socials ====================*/

footer{
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 27, 39);

  text-align: center;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  z-index: 1;

}

#socials{
  position: relative;
  display: inline-block;
  height: auto;

  margin: 5px;
  padding: 10px;

}

#socials img{
  vertical-align: middle;
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin: 0 4px;
}

footer p {
  color: #920e80;
  font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
	line-height: 20px;

  font-weight: 500;
  letter-spacing: .2em;
  word-spacing: 10pt;
}

